* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-size: 18px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav {
  /* padding-inline: 30px; */
}

.nav-main,
.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-main {
  padding-inline: 30px;
  border-bottom: 1px gray solid;
  height: 100px;
}

.nav-left {
  gap: 20px;
}

.nav-search {
  display: flex;
  align-items: center;
  width: 500px;
  padding: 8px 4px;
  border: 1px gray solid;
  border-radius: 12px;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icons>img {
  width: 45px;
  height: 45px;
}

#profile-icon {
  width: 38px;
  height: 38px;
}

.nav-links {
  display: flex;
  gap: 10px;
  padding-inline: 30px;
  font-size: 24px;
}

.nav-dropdown {
  display: flex;
  position: fixed;
  border: 1px gray solid;
  border-top: 0;
}

.hide {
  display: none !important;
}