:root {
  --main-color: #338bffc9;
  --secondary-color: #338bff18;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  border: 10px blue solid;
  appearance: none;
}

input:active {
  border: 10px red solid;
}

input:focus-visible {
  border: 10px red solid;
}

input:focus {
  border: 10px red solid;
}

input::placeholder {
  border: 10px red solid;

}

input::after {
  border: 10px red solid;
}

input:focus-visible {
  border: 0;
}

.hide {
  display: none !important;
}

.container {
  border: 1px black solid;
  width: 100%;
  min-height: 55vh;
  margin-block: 8px;
}

.v-main {
  background-color: var(--secondary-color);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 24vh;
  padding: 10px 30px;
  background-color: var(--main-color);
  color: white;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-left>a {
  width: max-content;
}

.footer-bottom {
  display: flex;
  justify-content: center;
}

.nav {
  padding-top: 10px;
  background-color: var(--secondary-color);
}

.nav-main,
.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-main {
  padding-inline: 30px;
  border-bottom: 1px gray solid;
}

.nav-left {
  gap: 20px;
}

.nav-logo {
  width: 300px;
}

.nav-search {
  display: flex;
  align-items: center;
  width: 500px;
  padding: 4px 4px;
  border: 1px gray solid;
  border-radius: 12px;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.badge {
  width: 50px;
}

.nav-icons img {
  width: 30px;
  height: 30px;
}

#profile-icon {
  width: 23px;
  height: 23px;
}

.nav-links {
  display: flex;
  gap: 10px;
  padding-inline: 30px;
  font-size: 20px;
}

.nav-dropdown {
  display: flex;
  position: absolute;
  border: 1px gray solid;
  border-top: 0;
  background-color: white;
  z-index: 1;
}

.nav-dropdown-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}